<roundcube:add_label name="viewsource" />
<div id="mailtoolbar" class="toolbar menu" role="toolbar" style="display: flex;">
	
	<span class="spacer"></span>
	<div style="
		border: 1px solid;
		margin: 12px 0;
		padding: 0 18px;
		border-radius: 5px;
		background: white;
	">
		<roundcube:button command="compose" type="link" class="compose disabled" classAct="compose"
			label="compose" title="compose" innerclass="inner" style="
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 3px;
				margin: 0;
				height: 100%;
				color: #000;
				background: transparent !important;
			" />
	</div>
	<roundcube:button command="delete" type="link" class="delete disabled" classAct="delete"
		label="delete" title="deletemessage" innerclass="inner" style="display: flex; align-items: center; justify-content: center; gap: 3px; margin: 0 8px;" />
	<roundcube:button name="markmenulink" id="markmessagemenulink" type="link" class="markmessage"
		label="mark" title="markmessages" data-popup="markmessage-menu" innerclass="inner" style="display: flex; align-items: center; justify-content: center; gap: 3px; margin: 0 8px; max-width: fit-content;" />
</div>

<div id="forward-menu" class="popupmenu">
	<h3 id="aria-label-forward-menu" class="voice"><roundcube:label name="arialabelforwardingoptions" /></h3>
	<ul class="menu listing" role="menu" aria-labelledby="aria-label-forward-menu">
		<roundcube:button type="link-menuitem" command="forward-inline" label="forwardinline" prop="sub" class="forward inline disabled" classAct="forward inline active" />
		<roundcube:button type="link-menuitem" command="forward-attachment" label="forwardattachment" prop="sub" class="forward attachment disabled" classAct="forward attachment active" />
		<roundcube:button type="link-menuitem" command="bounce" label="bouncemsg" class="forward bounce disabled" classAct="forward bounce active" />
		<roundcube:container name="forwardmenu" id="forward-menu" />
	</ul>
</div>

<div id="markmessage-menu" class="popupmenu">
	<h3 id="aria-label-markmessage-menu" class="voice"><roundcube:label name="arialabelmarkmessagesas" /></h3>
	<ul class="menu listing" role="menu" aria-labelledby="aria-label-markmessage-menu">
		<roundcube:button type="link-menuitem" command="mark" prop="flagged" label="markflagged" classAct="flag active" class="flag disabled" />
		<roundcube:button type="link-menuitem" command="mark" prop="unflagged" label="markunflagged" classAct="unflag active" class="unflag disabled" />
	</ul>
</div>
