<roundcube:add_label name="viewsource" />
<div id="mailtoolbar" class="toolbar menu" role="toolbar">
	<span class="spacer"></span>
	<roundcube:button command="compose" type="link" class="compose disabled" classAct="compose"
		label="compose" title="compose" innerclass="inner" />
	<roundcube:button command="delete" type="link" class="delete disabled" classAct="delete"
		label="delete" title="deletemessage" innerclass="inner" />
	<roundcube:button name="markmenulink" id="markmessagemenulink" type="link" class="markmessage"
		label="mark" title="markmessages" data-popup="markmessage-menu" innerclass="inner" />
</div>

<div id="forward-menu" class="popupmenu">
	<h3 id="aria-label-forward-menu" class="voice"><roundcube:label name="arialabelforwardingoptions" /></h3>
	<ul class="menu listing" role="menu" aria-labelledby="aria-label-forward-menu">
		<roundcube:button type="link-menuitem" command="forward-inline" label="forwardinline" prop="sub" class="forward inline disabled" classAct="forward inline active" />
		<roundcube:button type="link-menuitem" command="forward-attachment" label="forwardattachment" prop="sub" class="forward attachment disabled" classAct="forward attachment active" />
		<roundcube:button type="link-menuitem" command="bounce" label="bouncemsg" class="forward bounce disabled" classAct="forward bounce active" />
		<roundcube:container name="forwardmenu" id="forward-menu" />
	</ul>
</div>

<div id="markmessage-menu" class="popupmenu">
	<h3 id="aria-label-markmessage-menu" class="voice"><roundcube:label name="arialabelmarkmessagesas" /></h3>
	<ul class="menu listing" role="menu" aria-labelledby="aria-label-markmessage-menu">
		<roundcube:button type="link-menuitem" command="mark" prop="flagged" label="markflagged" classAct="flag active" class="flag disabled" />
		<roundcube:button type="link-menuitem" command="mark" prop="unflagged" label="markunflagged" classAct="unflag active" class="unflag disabled" />
	</ul>
</div>
